
<html>
    <body>
        <form method="post" action="/predict">
            <input type = "number" name="preg" placeholder="Number of times pregnant" required="required">
            <input type = "number" name="plas" placeholder="Plasma Glucose conc" required="required">
            <input type = "number" name="pres" placeholder="Blood Pressure" required="required">
            <input type = "number" name="skin" placeholder="Skin Thickness" required="required">
            <input type = "number" name="test" placeholder="test" required="required">
            <input type = "number" name="mass" placeholder="Mass" required="required">
            <input type = "number" name="pedi" placeholder="Pedigree function" required="required">
            <input type = "number" name="age" placeholder="age" required="required">
            <button>Submit</button>
        </form>
        {{data}}

    </body>

</html>